{% extends "base.html" %}
{% load i18n %}
{% block body_class %}faq{% endblock %}
{% block title %}{% trans "Free wallpapers limbo" %} - {% trans "FAQ" %}{% endblock %}
{% block css %}
    <link href="{{ CSS_URL }}faq.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="block">
        <h2>Frequently Asked Questions</h2>
        <div class="block-content clearfix">
            <h3>What is the limbo?</h3>
            <p>
                Hola.
            </p>
            <p>
                Hola.
            </p>
            <p>
                Hola.
            </p>
            <br>
            <h3>What is not the limbo?</h3>
            <p>
                Hola.
            </p>
        </div>
    </div>
{% endblock %}
