{% extends "base.html" %}
{% load i18n onthefly_thumbnail %}
{% block css %}
    <link href="{{ CSS_URL }}home.css" type="text/css" rel="stylesheet" />
    <link href="{{ CSS_URL }}core.css" type="text/css" rel="stylesheet" />
    <link href="{{ CSS_URL }}limbo.css" type="text/css" rel="stylesheet" />
{% endblock %}
{% block title %}{% trans "Wallpapers" %}{% endblock %}
{% block home %}{% url home %}{% endblock %}
{% block content %}
    {% if wallpaper_list %}
        <div class="set">
            <h2>
                {% trans "Wallpapers" %}
            </h2>
            <div class="block-content wplist clearfix">
                {% for wallpaper in wallpaper_list %}
                    <div class="wallpaper">
                        <a href="{% url view_wallpaper wallpaper.slug %}"><img src="{% thumb wallpaper.file 256x160 %}" alt="{{ wallpaper.title }}" /></a>
                    </div>
                {% endfor %}
            </div>
            {% if is_paginated %}
                <div class="clearfix">
                    {% if has_previous %}
                        <div id="less">
                            <!-- Traduzco el parámetro "page" para que la url sea consistente en todos los idiomas. -->
                            <a href="?{% trans "page" %}={{ previous }}">{% trans "<< Previous" %}</a>
                        </div>
                    {% endif %}
                    {% if has_next %}
                        <div id="more">
                            <a href="?{% trans "page" %}={{ next }}">{% trans "More >>" %}</a>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

