{% extends "profile/base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
    <div class="block">
        <h2>{% trans "I lost my password" %}</h2>
        <div class="block-content">
            <form action="{% url account-lost_password %}" method="post" accept-charset="utf-8">
                {{ remind_form.as_p }}
                <p>
                    <input type="submit" value="{% trans 'Reset my password' %}" />
                </p>
            </form>
        </div>
    </div>
{% endblock %}
