{% extends "profile/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password change for' %} {{ user }}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extrajs %}
<script type="text/javascript">
	$(function() {
		$("#id_old_password").focus();
		$("input[type='password']").addClass("text");
	});
</script>
{% endblock %}

{% block content %}
	<div class="block">
		<h2>{% blocktrans %}Password change for {{ user }}{% endblocktrans %}</h2>
        <div class="block-content">
            <form action="{% url account-change_password %}" method="post">
                    {{ change_form.as_p }}
                <p>
                    <input type="submit" value="{% trans 'Change' %}" />
                </p>
            </form>
        </div>
	</div>
{% endblock %}
