{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="block">
        <h2>{% trans "You are done" %}</h2>
        <div class="block-content">
            <p>
                <img src="{{ IMG_URL }}success.jpg" alt="{% trans "Signup complete" %}" />
            </p>
            <p>
                {% trans "The registration process is complete, you are now a member of ifreewallpapers.com" %}
            </p>
            <p>
                <a href="{% url account-login %}" title="{% trans "Login" %}">{% trans "Login" %}</a>.
            </p>
        </div>
    </div>
{% endblock %}
